#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.photograph-header :nth-child(1) { order: 2; }
.photograph-header :nth-child(2) { order: 1; }
.photograph-header :nth-child(3) { order: 3; }

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* ajout styles modale */

#message {
    width: 100%;
    height: 170px;
    resize: none;
}

/* header */

.photograph-header .contact_button {
    margin-right: 100px;
}

.photographer-portrait img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;  
}

.photographer-text h1 {
color: #D3573C;
font-size: 44px;
}

.location {
color: #901C1C;
font-size: 24px;
}

/* medias */

.media-wrapper {
    width: 70%;
    margin-top: 101px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.mediaPicture img {
    border-radius: 8px;
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.mediaInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.media-card-wrapper h3 {
    color: #901C1C;
    font-size: 24px;
}